<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reset Your Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="!success">
          <p>Enter your new password below.</p>
          
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input 
              type="email" 
              [(ngModel)]="email" 
              placeholder="Enter your email"
              [disabled]="true"
            ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Reset Token</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="token" 
              placeholder="Enter reset token"
              [disabled]="isLoading"
            ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">New Password</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="newPassword" 
              placeholder="Enter new password"
              [disabled]="isLoading"
            ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Confirm New Password</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="confirmPassword" 
              placeholder="Confirm new password"
              [disabled]="isLoading"
            ></ion-input>
          </ion-item>
          
          <div class="button-container">
            <ion-button 
              expand="block" 
              (click)="resetPassword()" 
              [disabled]="isLoading"
              color="primary"
            >
              <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
              <span *ngIf="!isLoading">Reset Password</span>
            </ion-button>
          </div>
        </div>
        
        <div *ngIf="success" class="success-container">
          <ion-text color="success">
            <h2>Password Reset Successful!</h2>
            <p>Your password has been successfully reset. You will be redirected to the login page in a few seconds.</p>
          </ion-text>
          <div class="button-container">
            <ion-button 
              expand="block" 
              (click)="goToLogin()" 
              color="primary"
            >
              Go to Login Now
            </ion-button>
          </div>
        </div>
        
        <div *ngIf="error" class="error-message">
          <ion-text color="danger">{{ error }}</ion-text>
        </div>
        
        <div *ngIf="!success" class="action-links">
          <ion-button 
            fill="clear" 
            (click)="goToForgotPassword()"
            color="medium"
          >
            Get New Reset Token
          </ion-button>
          <ion-button 
            fill="clear" 
            (click)="goToLogin()"
            color="medium"
          >
            Back to Login
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
