<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/inventory"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Inventory Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Inventory Item</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="saveItem()">
    <ion-list>
      <ion-item>
        <ion-input label="Item Name" labelPlacement="floating" [(ngModel)]="itemName" name="itemName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Quantity" labelPlacement="floating" type="number" [(ngModel)]="quantity" name="quantity" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-textarea label="Description" labelPlacement="floating" [(ngModel)]="description" name="description" rows="3" placeholder="Enter item description (optional)"></ion-textarea>
      </ion-item>
      
      <!-- Dimension Editing -->
      <ion-item>
        <ion-label>
          <h2>Dimensions</h2>
          <p>Edit the dimensions of the item</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Length" 
          labelPlacement="floating" 
          type="number" 
          [(ngModel)]="length" 
          name="length" 
          min="0"
          step="0.01"
          placeholder="0.00">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input 
          label="Width (Breadth)" 
          labelPlacement="floating" 
          type="number" 
          [(ngModel)]="width" 
          name="width" 
          min="0"
          step="0.01"
          placeholder="0.00">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input 
          label="Thickness" 
          labelPlacement="floating" 
          type="number" 
          [(ngModel)]="thickness" 
          name="thickness" 
          min="0"
          step="0.01"
          placeholder="0.00">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select 
          label="Unit" 
          labelPlacement="floating" 
          [(ngModel)]="dimensionUnit" 
          name="dimensionUnit"
          placeholder="Select unit">
          <ion-select-option value="m">Meters (m)</ion-select-option>
          <ion-select-option value="cm">Centimeters (cm)</ion-select-option>
          <ion-select-option value="mm">Millimeters (mm)</ion-select-option>
          <ion-select-option value="in">Inches (in)</ion-select-option>
          <ion-select-option value="ft">Feet (ft)</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item *ngIf="hasDimensions()">
        <ion-label>
          <h3>Dimension Summary</h3>
          <p>{{ getDimensionSummary() }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="item?.totalSurfaceArea">
        <ion-label>
          <h3>Current Surface Area</h3>
          <p>{{ item.totalSurfaceArea.formatted }}</p>
          <p><small>Note: Surface area will be recalculated after saving</small></p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Save Changes</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteItem()">Delete Item</ion-button>
    <ion-button expand="block" color="medium" (click)="cancel()">Cancel</ion-button>
  </form>
</ion-content>