<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Please sign in with your Google account to continue.</p>
        <ion-button 
          expand="block" 
          color="primary" 
          (click)="loginWithGoogle()"
          class="google-login-btn">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign in with Google
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
