<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add-items" href="/tabs/add-items">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Add items</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
