.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loading-message {
  margin-top: 10px;
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  text-align: center;
}
